$background-color: #595FD9;
$body-background: white;
$text-color: #0D0D0D;
$emphasis-color: #F25757;
$btn-background-color: #595FD9;
$btn-text-color: white;
$font: 'Roboto', sans-serif;
$light-purple: #9194d8b4;

$color: #f1fa8d;           
