@import "./resets";
@import "./variables";

@mixin container{
    background-color: $body-background;
    margin: 0 auto;
    padding: 5px;
    width: auto;
}

@mixin button-style{
    width: 100%;
    background-color: $btn-background-color;
    color: $btn-text-color;
    margin: 5px 0;
    height: 6vh;
    font-size: 1.4rem;
    font-family: monospace;
}

html {
    background-color: $body-background;
    color: $text-color;
    font-family: $font;
    font-weight: 400;
}

body {
    @include container;
    width: 375px;

    // @media (min-width: 993px) {
    //     width: auto;
    // }

    /***** Start Header Styles *****/

    .navbar {
        position: fixed;
        z-index: 1001;
        width: 375px;
        background-color: white;
        height: 60px;
        top: 0;
    
    
        .main-nav {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            background: #FFF;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            transition: all .375s;
        
            .selected {
                color: $emphasis-color;
            }
        
            &.is-open {
                opacity: 1;
                z-index: 100;
                visibility: visible;
                background-color: white;
        
                &::before {
                    content: "";
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(255, 255, 255, 0.95);
                    z-index: -1;
                }
            }
        
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                height: auto;
                align-items: center;
                justify-content: flex-start;
                transform: translateY(50%);
        
                li {
                    text-align: center;
                    margin: 0.5rem 0;
                    width: 100%;
                    height: 5vh;
                    padding: 12px 0;
                    color: $btn-background-color;
                    font-size: 2rem;
                    font-weight: bold;
                    width: 100%;
                    cursor: pointer;
                }
            }
        }
        
        .open-main-nav {
            position: absolute;
            top: 15px;
            padding-top: 20px;
            right: 15px;
            z-index: 1000;
            background: none;
            border: 0;
            cursor: pointer;
        
            &:focus {
                outline: none;
            }
        
            .burger {
                position: relative;
                display: block;
                width: 28px;
                height: 4px;
                margin: 0 auto;
                background: $btn-background-color;
                transform: skew(5deg);
                transition: all .275s;
        
                &:after, &:before {
                    content: '';
                    display: block;
                    height: 100%;
                    background: $btn-background-color;
                    transition: all .275s;
                }
        
                &:after {
                    transform: translateY(-12px) translateX(-2px) skew(-20deg);
                }
        
                &:before {
                    transform: translateY(-16px) skew(-10deg);
                }
            }
        
            &.is-open {
                .burger {
                    transform: skew(5deg) translateY(-8px) rotate(-45deg);
        
                    &:before {
                        transform: translateY(0px) skew(-10deg) rotate(75deg);
                    }
        
                    &:after {
                        transform: translateY(-12px) translateX(10px) skew(-20deg);
                        opacity: 0;
                    }
                }
            }
        
            .burger-text {
                display: block;
                font-size: .675rem;
                letter-spacing: .05em;
                margin-top: .5em;
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                color: $btn-background-color;
            }
        }

          
    }
    
    /***** End Header Styles *****/





    main {
        padding-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;
        // min-height: 98vh;
        background-color: $body-background;

        h1{
            font-size: 2rem;
            margin-bottom: 10px;
            font-weight: 300;
            line-height: 2.5rem;
        }

        h2{
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 10px;
            font-family:monospace;
            line-height: 120%;
        }

        p {
            line-height: normal;
            font-size: 16px;
        }

        .emphasize {
            font-size: 2.5rem;
            font-weight: 700;
            color: $emphasis-color;
        }

        #text-container{
            @include container;
            
            p {
                margin-top: 10px;
            }

            h2{
                font-weight: 300;
                color: currentColor;
                font-size: 1.45rem;
            }
        }

        #languages-container {
            @include container;
            margin-bottom: 5vh;
            border-top: solid;
            border-bottom: solid;

            .card{               
                margin-bottom: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                

                .card-title{
                    color: $emphasis-color;
                    font-size: 0.95rem;
                    font-weight: 700;
                    white-space: nowrap;
                }

                i{
                    font-size: 3rem;
                }
            }
        }

        #projects-container{
            @include container;
            margin-bottom: 5vh;

            p{
                margin-bottom: 15px;
            }

            .card{
                object-fit: contain;
                margin: 20px 0;
                align-items: center;
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
                overflow: hidden;
                border: 0.1px solid rgb(221, 221, 221);

                .card-text{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 10px;

                    .card-title{
                        font-family: monospace;
                        padding: 0px 20px;
                        font-size: 1.4rem;
                        font-weight: 500;
                        flex-basis: 45%;
                        text-align: center;
                        color: $btn-background-color;
                    }
    
                    .card-description{
                        font-size: 0.9rem;
                        font-weight: 300;
                        flex-basis: 55%;
                        padding: 10px;
                    }
                }  

                .card-img{
                    margin-top: 0;
                    border-radius: 0;
                }
            }
    
            /** REMOVE FOR MOBILE **/
            @media (min-width: 993px){
                .card:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                    margin: 10px auto;
                    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
                }
            }
        }
        
        #btn-container{
            @include container;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100%;

            .btn{
                @include button-style;
                border: none;
                position: relative;
                overflow: hidden;
                a{
                    color: white;
                    text-decoration: none;
                    position: relative;
                    z-index: 2;
                }

                &:hover{
                    color: #fff
                }
            }

            .btn:after {
                position: absolute;
                content: '';
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: white;
                opacity: 0.2;
                transition: all 0.35s;
                border-radius: 4px;
            }
            
            .btn:hover:after {
                left: 0;
            }

            .socials-container{
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;
                justify-content: space-around;
                flex-wrap: nowrap;

                .social-icon-link{
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    font-size: 2.7rem;
                    margin: 0 15px;
                }

                .svg-container{
                    svg{
                        width: 2.7rem;
                        height: auto;
                        vertical-align: top;
                    }
                }
            }

        }

        #contact-container{
            @include container;
            margin: 20px 0;
            width: 100%;

            p{
                margin-bottom: 15px;
            }

            h3 {
                margin-bottom: 15px;
            }

            label{
                font-family: $font;
                font-size: 1rem;
                color: $btn-background-color;
                font-weight: 600;
            }

            input, textarea{
                font-family: monospace;
            }

            #submit-btn{
                @include button-style;
            }
        }
    }

    @media (min-width: 993px) {
        width: auto;
            .navbar {
                position: fixed;
                // z-index: 1001;
                width: 100%;
                background-color: white;
                height: 10vh; /* Adjust this value according to your design */
                top: 0;

                .main-nav {
                // position: static;
                // text-align: center;
                // background: none;
                // opacity: 1;
                // z-index: auto;
                visibility: visible;
                // transition: none;
                }
                .open-main-nav{
                    display: none;
                }
            }
        
           
        
                /* Other styles for the main navigation links */
                // ul {
                //     flex-direction: row; /* Display the links in a row for desktop view */
                //     li {
                //         margin: 0 3rem; /* Adjust the margin between links as needed */
                //         height: auto;
                //         flex-basis: 50%;
                //     }
                // }
            // }
            // .open-main-nav {
            //     display: none; /* Hide the burger menu button in desktop view */
            // }
        }  
    
}
